.intersect{
    box-shadow: 12px 0px 0px 0px #FEB20D;

}

.activeRoute{
    margin-left: 70px;
    color: #FEB20D;
}
.inactiveRoute{
    margin-left: 70px;
    color:#091744;
}
.hactiveRoute{

    color: #FEB20D;
    margin-bottom: 5px;
}
.hinactiveRoute{

    color:white;
    margin-bottom: 5px;
}
.sactiveRoute{

    color: #FEB20D;

}
.sinactiveRoute{

    color:#091744;

}

.login{
    padding: 5px 30px;
    background-color: #091744;
    color: white;
    border-radius: 20px;
}

nav a {
    font-weight: 500;
    font-size: 1rem;
    /* font-family: 'Beau Rivage', cursive; */
    color: #fcf1df;
    display: inline-block;
    transition: all 0.3s ease-in;

}

nav a:hover {
    transform: translateY(3px);
    color: #dac393;
}