

.black-transparent{
    background-color: rgba(0, 0, 0, 0.623);
    height: 100%;
    width: 100%;
}

.cover-pic{
    background-image: url(../image/show-case.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.cover-pic h1 {
    line-height: 3.5rem;
}

/* button */

.btn-big {
    display: flex;
    padding: 5px 5px;
    width: 200px;
    align-items: center;
    justify-content:space-between;
    border-radius: 30px;
    background-color: #DAA106;
    font-size: 20px;
    
}

.btn-big .fas {
    font-size: 40px;

}

