.single-card{
    transition: background-color 0.3s ease-in;
}
.card-header, .card-text{
    transition: color 0.3s ease-in;
}

.single-card:hover {

    background-color: #092744;
}

.single-card:hover .card-header{
    color: white;
}
.single-card:hover .card-text{
    color: white;
}